<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title><%block name="title"/></title>
	
	<meta name="description" content="FOSS4G Map">
	<meta name="author" content="Jason Sanford">
	
	
	<!-- Blueprint -->
	<link rel="stylesheet" href="/css/blueprint/screen.css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint/print.css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="docs/css/blueprint/ie.css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="/css/screen.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Corben:bold&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=News+Cycle&v1' rel='stylesheet' type='text/css'>
	<%block name="css"/>
</head>
<body>
	<div class="container">
		<h1 class="logo"><a href="/">FOSS4G</a></h1><h2 class="logo">map</h2>
		<h3 class="alt">Where it's at in Denver</h3>
		
		<ul class="nav">
			<li><a href="/">foo</a></li>  
			<li><a href="/">bar</a></li> 
			<li><a href="/">baz</a></li>
			<li><a class="twitter-link" href="http://twitter.com/foss4g">@foss4g</a></li>
		</ul>
		
		<!-- Begin Content -->
		${self.body()}
		<!-- End Content -->
		<div class="clearfix"></div>
		<p id="social"></p>
		
		<hr />
		
		<p class="quiet">&copy; 2011 <a href="http://foss4g.org">FOSS4G</a> | <a href="/mobile">view mobile version</a></p>
			
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="lib/jquery/jquery-1.6.1.min.js"%3E%3C/script%3E'))</script>
	<!-- Begin Scripts -->
	<%block name="scripts"/>
	<!-- End Scripts -->
	<!--<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>-->
</body>
</html>
