<%inherit file="m.base.html" />

<%block name="title">FOSS4G Map</%block>

<%block name="css">
<link rel="stylesheet" href="/lib/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="/css/map.css" />
<style type="text/css">
/* Override the 500px height for the default map */
#map-container{
    height: 100% !important;
    width: 100% !important;
    border: none !important;
}
</style>
</%block>

<%block name="scripts">
<script src="/lib/leaflet/dist/leaflet.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
</%block>

<!--<div data-role="page">

	<div data-role="header">
		<h1>2011 FOSS4G Map</h1>
	</div>

	<div data-role="content" class="full">-->
		<div id="map-container" class="full"></div>
	<!--</div>

	<div data-role="footer">
		<a href="javascript:void(0);" data-icon="star" data-iconpos="top">Locate Me</a>
	</div>
</div>-->
