<%inherit file="m.base.html" />

<%block name="title">FOSS4G Map</%block>

<%block name="css">
<link rel="stylesheet" href="/lib/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="/css/map.css" />
<style type="text/css">
/* Override the 500px height for the default map */
body{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
}
#map-container{
    height: 100% !important;
    width: 100% !important;
    border: none !important;
}
#current-feature-container{
    margin:  0 0 38px 8px;
}
#locate-container{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 0 8px 38px 0;
    color: rgba(255, 255, 255, 1);
    z-index: 100;
    box-shadow: 0 0 15px #333;
    -moz-box-shadow: 0 0 15px #333;
    -webkit-box-shadow: 0 0 15px #333;
}
#message{
	color: #ffffff;
	background: rgba(0, 0, 0, 0.65);
	position: absolute;
	z-index: 300;
	padding: 25px 25px;
	display: none;
	max-width: 250px;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	text-align: center;
	font-size: 12px;
	box-shadow: 0 0 15px #333;
	-moz-box-shadow: 0 0 15px #333;
	-webkit-box-shadow: 0 0 15px #333;
}
</style>
</%block>

<%block name="scripts">
<script type="text/javascript">
    var fm = {
        isMobile: true
    };
    
    fm.currentLocation = {};
    
    function mobileMapLoad () {
        $( ".leaflet-bottom.leaflet-right" ).append( '<div id="locate-container"><a href="javascript:void(0);" id="locate"><img src="img/locate.png" id="img-locate" /></a></div>' );
        
        fm.map.on("locationfound", locationFound);
        fm.map.on("locationerror", locationError);
        
        $("#locate").click(function(event){
    		fm.map.locate( {
    		    enableHighAccuracy: true,
    		    maximumAge: 0
    		} );
    	});
    }
    
    function message(message, displayTime, fadeTime){
    	$('#message').html(message).show().css({
    		'top':($('#map-container').height()/2)-($('#message').outerHeight()/2)+'px',
    		'left':($('#map-container').width()/2)-($('#message').outerWidth()/2)+'px'
    	});
    	var _displayTime = displayTime || 2000;
    	var _fadeTime = fadeTime || 2000;
    	setTimeout(function(){
    	    $("#message").fadeOut(_fadeTime);
    	},_displayTime);
    }
    
    function locationFound(locationEvent){
    	fm.currentLocation.latlng = locationEvent.latlng;
    	fm.currentLocation.accuracy = locationEvent.accuracy;
    
    	fm.map.panTo(fm.currentLocation.latlng);
    
    	var radius = fm.currentLocation.accuracy / 2;
    	
    	if (!fm.currentLocation.circleLocation){
    		fm.currentLocation.circleLocation = new L.CircleMarker(fm.currentLocation.latlng, {
    			stroke: false,
    			fill: true,
    			fillOpacity: 1,
    			radius: 6
    		}).bindPopup("I think you're are at Lat: " + fm.currentLocation.latlng.lat + ", Lon: " + fm.currentLocation.latlng.lng + ". Accuracy is " + fm.currentLocation.accuracy);
    		fm.map.addLayer(fm.currentLocation.circleLocation);
    	}else{
    		fm.currentLocation.circleLocation.setLatLng(fm.currentLocation.latlng);
    	}
    	if ( !fm.currentLocation.messageSent ) {
    	    message( "To update your location click the locate icon again.", 2000, 500 );
    	    fm.currentLocation.messageSent = true;
    	}
    
    }
    
    function locationError(){
    	console.log("location error");
    	message("We had problems detecting your location. Try again.", 1000, 1000);
    }
</script>
<script src="/lib/leaflet/dist/leaflet.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
</%block>
<div id="map-container" class="full"></div>
<div id="message"></div>
