<%inherit file="m.base.html" />

<%block name="title">Nearest ...</%block>

<%block name="css"></%block>

<%block name="scripts"></%block>

<div data-role="page">

	<div data-role="header">
		<h1>Nearest ...</h1>
	</div>

	<div data-role="content">	
		<ul data-role="listview" data-inset="true">
			<li><a href="javascript:void(0);">Bar/Pub</a></li>
			<li><a href="javascript:void(0);">Light Rail Station</a></li>
			<li><a href="javascript:void(0);">Restaurant</a></li>
			<li><a href="javascript:void(0);">Bicycle Rental Station</a></li>
			<li><a href="javascript:void(0);">Cafe</a></li>
		</ul>		
	</div>

	<div data-role="footer">
		<h4>foo</h4>
	</div>
</div>
