#map-container{
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #999;
}
#current-feature-container{
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    margin: 8px;
    color: rgba(255, 255, 255, 1);
    width: 200px;
    z-index: 100;
    box-shadow: 0 0 15px #333;
    -moz-box-shadow: 0 0 15px #333;
    -webkit-box-shadow: 0 0 15px #333;
}
#current-feature-container div.left-side{
    width: 40px;
    float: left;
}
#current-feature-container div.left-side img{
    margin-top: 3px;
}
#current-feature-container div.right-side{
    width: 150px;
    float: right;
}
#current-feature-container div.right-side div{
    text-align: center;
}
#current-feature-container a{
    color: rgba(255, 255, 255, 1);
}
#current-feature-container a:hover{
    text-decoration: none;
}
#current-feature-container span{
	margin-top: 2px;
	font-size: 0.8em;
}
.leaflet-popup-content{
    
}
.leaflet-popup-content h1, .leaflet-popup-content h2, .leaflet-popup-content h3, .leaflet-popup-content h4, .leaflet-popup-content h5{
    text-align: center;
}
.leaflet-popup-content h2{
    font-size: 2em;
    color: #444;
    margin: 4px;
}
.leaflet-popup-content h3{
    font-size: 1.5em;
    color: #444;
    margin: 4px;
}
.leaflet-popup-content p{
    color: #333;
    font-size: 1.1em;
    margin: 9px 0 !important;
}
.leaflet-popup-content p.more-info{
    text-align: right;
}
.leaflet-popup-content img.wrap-this{
    float: right;
    padding: 0px 0px 4px 4px;
}